[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "==0.2.21"
pandas = "==2.0.2"
numpy = "==1.25.0"
ipython = "*"
matplotlib = "==3.7.1"

[dev-packages]

[requires]
python_version = "3.10"
